.social {

	margin: 0 auto;	
	padding: 0;
	width: 500px;
	max-width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    .fa {
		color: white;
        font-size: 18px;
        text-align: center;        
	}
	
	&--v2 {
		justify-content: left;
	}
}
.ic-btn:focus {
	outline: 0;
}

.ic-btn {  
	border: none;   
    //border: 2px solid $secondary-text-color;    
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	background-color: $secondary-text-color-darken;
	//border: 0;
	margin: 7px;
	transition: transform 0.5s;
}

.fa-twitter {
    //color: #0084b4;
    color: $primary-site-dark-color;   
}
.fa-facebook {
    //color: #24478f;
    color: $primary-site-dark-color;   
}
.fa-google-plus {
    //color: #b30000;
    color: $primary-site-dark-color;   
}
.fa-instagram {
	color: $primary-site-dark-color;
}
.fa-github {
	color: $primary-site-dark-color;
}
.ic-btn:hover, .ic-btn:hover .fa {
	transform: scale(1.15);
	color: white;
	transition: transform 0.7s;
}
.b-tw:hover {
	background-color: $primary-site-color;
}
.b-fb:hover {
	background-color: $primary-site-color;
}
.b-gplus:hover {
	background-color: $primary-site-color;
}
.b-inst:hover {
	background-color: $primary-site-color;
}
.b-gh:hover {
	background-color: $primary-site-color;
}