.u-bg-white {
    background-color: $white;
}
.u-bg-dark {
    background-color: $primary-site-dark-color;
}
.u-secondary-color {
    color: $secondary-text-color;
}
.u-white {
    color: $white;
}
.u-primary {
    color: $primary-text-color;
}

.u-primary-site {
    color: $primary-site-color;
}