.t-map {
    margin-top: $gutter * 4;
    &__container {
        
        max-width: 100%;         
	    margin: 0 auto;
    }
}

#map {
	height: 450px;
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
         filter: grayscale(100%);
}