.t-map {
    margin-top: $gutter * 4;
    &__container {        
        max-width: 100%;         
	    margin: 0 auto;
    }

    &__cart {
        max-width: 550px;
        padding-bottom: 15px;
        @include medium-up {
            width: 550px;
            position: absolute;
            margin-top: 70px;
            padding-top: $gutter;
            padding-bottom: $gutter * 2;
            background-color: $white;  
            z-index: 1;      
        }        
        
    }

    &__text{
        display: inline-block;
    }
    &__icon-container {
        padding-top: $gutter;
        text-align: right;
        position: relative;
    }

    &__text-container {        
        padding-top: $gutter *1.4;
        text-align: left;
        color: $secondary-text-color-darken;
    }
}

#map {    
	height: 450px;
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
         filter: grayscale(100%);
}